*
{
    font-family: 'Roboto', sans-serif;
}
body
{
    margin: 0px;
    color: #c7c7c7;
    background-color: #353535;
}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #353535;
    box-sizing: border-box;
    border-radius: 10px;
    outline:none;
    background-color: #a8a8a8;
    font-weight: 500;
}

button {
    background-color: #264b5d;
    padding: 14px 20px;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    height: 47px;
    border-radius: 10px;
    margin-left: 35%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
    border-radius: 10px;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
    box-shadow: #272727;
}


.modal-content {
    background-color: #121212;
    margin: 5% auto 15% auto;
    width: 25%;
    border-radius: 10px;
}
ul
{
    list-style: none;
}

.messagelist>li
{
    color: red;
    /* color: #551A8B; */
}
.errorlist
{
    color: red;
}
@media only screen and (max-width: 900px) {
    .modal-content
    {
    width: 100%;
    }
}
