<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JUNOS Upgrade Automation-Dashboard</title>
    <style>
        body,html,input
        {
            margin: 0px;
            font-size: 100%;
            font-size: large;
            font-family: 'Noto Sans', sans-serif;
            font-family: 'Roboto Condensed', sans-serif;
        }
        .head-container
        {
            background-color: #717171;
            height: max-content;
            font-family: 'Roboto', sans-serif;
        }
        h1
        {
            margin: 0px;
            padding-top: 2vh;
            padding-bottom: 10px;
            margin-left: 30%;
            margin-right: 25%;
        }
        input[type="radio"] {
            background-color: initial;
            cursor: default;
            appearance: auto;
            box-sizing: border-box;
            margin: 3px 3px 0px 5px;
            padding: initial;
            border: initial;
        }
        select
        {
            outline: none;
            padding-right: 0.5%;
            padding-top: 0.2%;
            padding-bottom: 0.2%;
            padding-left: 0.5%;
            border-radius: 10px;
        }
        input[type="text"]
        {
            border: 1px solid black;
            outline: none;
            font-weight: 500;
            font-size: medium;
            padding-bottom: 0.1%;
            padding: 0.2%;
            padding-left: 1%;
            border-radius: 10px;
        }
        input::-webkit-input-placeholder {
            font-size: 15px;
        }
        button
        {
            background-color: rgba(0, 132, 255, 0.986);
            color: white;
            border: 0px;
            border-radius: 18px;
            padding: 0.5%;
            cursor: pointer;
        }
        button:hover
        {
            opacity: 0.8;
        }
        label
        {
            margin-right: 50px;
        }
        .main-container
        {
            font-weight: 600;
            margin: 2%;
        }
        .options
        {
            margin-bottom: 10px;
        }
        .trigger
        {
            display: none;
        }
        .label-left
        {
            margin-left: 20%;
        }
        @media screen and (max-width: 805px) {
            .trigger
            {
                display: block;
            }
            .label-left
            {
                margin-left: 0%;
            }
            label
            {
                margin-bottom: 20px;
            }
        }
    </style>
</head>
<body>
    <div class="head-container">
        <!-- <div class="head"> -->
            <h1>Welcome to JUNOS Upgrade Automation</h1>
            <a href="{% url "logout" %}" style="float: right;">logout</a>          
        <!-- </div> -->
    </div>
    <div class="main-container">
        <div class="options">
            <form action="#">
                <div style="margin-bottom: 10px;">
                    <label for="option1">Do you have comma separated values:</label><br class="trigger">
                    <span><input type="radio" name="option1" value="yes"><label>yes</label></span>
                    <span><input type="radio" name="option1" value="no"><label>no</label></span>
                </div>
                <div>
                    <label for="option2">Comma separated devices:</label>
                    <span><input type="text" name="option2" id="c_vales" placeholder=" (ex: ro72371,ro40902)"></span>
                    <span><button type="submit" style="margin-left: 10px;">Build device list</button></span>
                </div>
            </form>
        </div>
        <div class="device-container">
            <div style="margin-bottom: 10px;">
                <label for="classes">Location class:</label>
                <select id="classes">
                    <option value="" selected style="display: none;">Select your option</option>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select><br class="trigger">

                <label for="models" class="label-left">Device model:</label>
                <select id="models">
                    <option value="" selected style="display: none;">Select your option</option>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select><br>
            </div>
            <div style="margin-bottom: 10px;">
                <label for="names">Device name:</label>
                <select id="names">
                    <option value="" selected style="display: none;">Select your option</option>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select><br class="trigger">

                <label for="versions" class="label-left">Software version:</label>
                <select id="versions">
                    <option value="" selected style="display: none;">Select your option</option>
                    <option value="V.04">V.04</option>
                    <option value="V.03">V.03</option>
                    <option value="V.02">V.02</option>
                    <option value="V.01">V.01</option>
                </select>
            </div>
        </div>
    </div>
</body>
</html>