<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/en/b/b2/Junos_OS_logo.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>JUNOS Upgrade Automation|Login</title>
</head>
<body>
        <div class="modal" style="display: block;">
            <form class="modal-content" action="" method="POST">
            {% csrf_token %}
              <div class="container">
                <h1>Login<a style="text-decoration: none;" href="/signup">/Signup</a></h1><hr>
                <ul class="messagelist">
                    {% for message in messages %}
                        <li class"info">{{message}}</li>
                    {% endfor %}
                </ul>
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required="">
          
                <label for="pass"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="pass" required="">
                  
                <button type="submit">Log in</button>
              </div>
            </form>
        </div>
</body>
</html>