<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/en/b/b2/Junos_OS_logo.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JUNOS Upgrade Automation|Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <style>
    body
    {
        background-color: #121212;
    }
    input[type=text]
    {
        background-color: #a8a8a8;
    }
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      .blog-header {
        line-height: 1;
        border-bottom: 1px solid #e5e5e5;
      }

      .blog-header-logo {
        font-size: 1.3rem;
      }
      .custom-col
      {
          display: none;
      }
      #details_form
      {
          display: none;
      }
    </style>
</head>
<body>    
    <div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
            <a class="link-secondary text-light text-decoration-none" href="#">Hi {{request.user}}</a>
        </div>
        <div class="col-4 text-center">
            <a class="blog-header-logo text-light text-decoration-none" href="#"><h5>Welcome to JUNOS Upgrade Automation</h5></a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="btn btn-sm btn-outline-secondary text-light text-decoration-none" href="{% url "logout" %}">Log out</a>
        </div>
        </div>
        </header>
    </div>
    <div class="container text-light">
        <main class="offset-1">
            <br>
            <div class="col-md-1 col-lg-12">
              <h4 class="mb-4">Device details</h4>
            
              <form class="" id="device_form" method="" action="">
              {% csrf_token %}
                <div class="row g-3">
                    <div class="col-lg-4">
                      <label class="form-label">Do you have comma separated values</label>
                      <div class="my-3">
                        <div class="form-check">
                          <input name="option1" value="yes" type="radio" class="form-check-input" onclick="trigger('custom-col','block')">
                          <label class="form-check-label">Yes</label>
                        </div>
                        <div class="form-check">
                          <input name="option1" value="no" type="radio" class="form-check-input" onclick="trigger('custom-col','none')" checked>
                          <label class="form-check-label">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="custom-col mb-4" id="custom-col">
                          <label for="firstName" class="form-label">Comma separated devices</label>
                          <input type="text" name="cdevices" class="form-control" id="cdevices" placeholder="(ex: ro72371,ro40902)" required>
                      </div>
                    </div>
                    <button class="col-lg-3 btn btn-primary" name="device_form_submit" type="submit" onclick="trigger('details_form','block')">Build device list</button>
              </form>
                <hr>
              <form class="" id="details_form" method="" action="">
              {% csrf_token %}
                <div class="row g-3">
                  <div class="col-md-5">
                    <label for="Location" class="form-label">Location class:</label>
                    <select class="form-select" id="Location" required>
                      <option value="">Choose...</option>
                      <option>United States</option>
                      <option>Spain</option>
                      <option>Europe</option>
                      <option>Oslo</option>
                    </select>
                  </div>


                  <div class="col-md-5">
                    <label for="model" class="form-label">Device model:</label>
                    <select class="form-select" id="model" required>
                      <option value="">Choose...</option>
                      <option>United States</option>
                      <option>Spain</option>
                      <option>Europe</option>
                      <option>Oslo</option>
                    </select>
                  </div>


                  <div class="col-md-5">
                    <label for="name" class="form-label">Device name:</label>
                    <select class="form-select" id="name" required>
                      <option value="">Choose...</option>
                      <option>United States</option>
                      <option>Spain</option>
                      <option>Europe</option>
                      <option>Oslo</option>
                    </select>
                  </div>
      
                  <div class="col-md-5">
                    <label for="version" class="form-label">Software version:</label>
                    <select class="form-select" id="version" required>
                        <option value="">Choose...</option>
                        <option>United States</option>
                        <option>Spain</option>
                        <option>Europe</option>
                        <option>Oslo</option>
                    </select>
                  </div>
                </div>
      
                <hr class="my-4">

                <button class="col-lg-3 btn btn-primary" name="details_form_submit" type="submit">update</button>
              </form>
            </div>
          </div>
        </main>
      </div>
</body>
<script>
    function trigger(id,state) {
        document.getElementById(id).style.display=state;
    }
</script>
</html>