<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/en/b/b2/Junos_OS_logo.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <title>JUNOS Upgrade Automation|Signup</title>
</head>
<body>
        <div class="modal" style="display: block;">
            <form class="modal-content" action="" method="POST">
            {% csrf_token %}
              <div class="container">
                <h1>Signup<a style="text-decoration: none;" href="http://localhost:8000/">/Login</a></h1><hr>
                <ul class="messagelist">
                    {% for message in messages %}
                        <li class"info">{{message}}</li>
                    {% endfor %}
                </ul>
                {{errors}}
                <b>{{form.username.label}}</b>
                {{form.username}}

                <b>{{form.email.label}}</b>
                {{form.email}}
          
                <b>{{form.password1.label}}</b>
                {{form.password1}}

                <b>{{form.password2.label}}</b>
                {{form.password2}}
                  
                <button type="submit">Sign up</button><br>
              </div>
            </form>
        </div>
</body>
<script>
  $(document).ready(function(){
        $("#id_username").attr('placeholder', 'Enter {{form.username.label}}');
        $("#id_email").attr('placeholder', 'Enter {{form.email.label}}');
        $("#id_password1").attr('placeholder', 'Enter password');
        $("#id_password2").attr('placeholder', 'Confirm password');
    });
</script>
</html>